<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Algo</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h1>Prix photocopies</h1>
      <div class="d-flex">
        <mat-form-field>
          <mat-label>Nombre de photocopies</mat-label>
          <input matInput min="1" [(ngModel)]="nbCopy" type="number" (change)="photocopies()">
        </mat-form-field>
        <mat-form-field class="ml-5">
          <mat-label>Prix à payer</mat-label>
          <input matInput disabled value="{{ priceCopy | number }}">
          <span matSuffix>€</span>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 mt-5">
      <h1>Allez-vous payer des impôts ?</h1>
      <div class="d-flex align-items-center">
        <mat-form-field>
          <mat-label>Sexe</mat-label>
          <mat-select [(ngModel)]="sex" (selectionChange)="impots()">
            <mat-option value="homme">Homme</mat-option>
            <mat-option value="femme">Femme</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="ml-5">
          <mat-label>Quel est votre âge ?</mat-label>
          <input matInput min="1" max="130" [(ngModel)]="age" type="number" (change)="impots()">
          <span matSuffix>ans</span>
        </mat-form-field>
        <span class="ml-5" *ngIf="taxeable">Vous devez payer des impôts !</span>
        <span class="ml-5" *ngIf="!taxeable">Vous êtes non imposable !</span>
      </div>
    </div>
    <div class="col-12 mt-5">
      <h1>Tarifs d'assurance</h1>
      <label class="mt-2">Quel âge avez-vous ?</label>
      <div>
        <mat-form-field>
          <mat-label>Âge</mat-label>
          <input matInput min="18" [(ngModel)]="ageConducteur" type="number" (change)="assurance()">
        </mat-form-field>
      </div>
      <label class="mt-2">Depuis combien de temps avez-vous le permis ?</label>
      <div>
        <mat-form-field>
          <mat-label>Ancienneté permis</mat-label>
          <input matInput min="0" [(ngModel)]="agePermis" type="number" (change)="assurance()">
        </mat-form-field>
      </div>
      <label>De combien d'accident êtes vous responsable ?</label>
      <div>
        <mat-form-field>
          <mat-label>Responsabilité accident</mat-label>
          <input matInput min="0" [(ngModel)]="nbAccident" type="number" (change)="assurance()">
        </mat-form-field>
      </div>
      <label class="mt-2">Depuis combien de temps êtes vous assuré ?</label>
      <div>
        <mat-form-field>
          <mat-label>Ancienneté assurance</mat-label>
          <input matInput min="0" [(ngModel)]="anciennete" type="number" (change)="assurance()">
        </mat-form-field>
      </div>
      <h3 class="mt-2" *ngIf="tarif !== null">
        Vous bénéficiez du tarif <span class="result">{{ tarif }}</span>
      </h3>
      <h3 class="mt-2" *ngIf="tarif === null">
        <span class="result">Vous êtes refusé.</span>
      </h3>
    </div>
  </div>
</div>
